.catalog-main {
    min-height: 500px;
    background: #F2F2F2;
}

.catalog-main-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    color: #313F4C;
    text-align: center;
}

.catalog-main-items {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.catalog-all-items {
    width: 160px;
    height: 30px;
    left: 670px;
    top: 2066px;
    background: #DD6226;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    padding: 7px 0;
    margin: 0 auto;
}
.catalog-all-items a {
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif !important;
    display: block;
}